.upperFrame {
    width: 800px;
    height: 150px;
    position: absolute;
    background-color: grey;
    border-style: outset;
    border-color: darkslategray;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.difButtons {
    cursor: pointer;
    padding: 10px 15px;
    background-color: lightgrey;
}

.cell {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    background-color: lightgray;
}

.frame {
    top: 250px;
    left: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

table {
    border-style: outset;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.CCELL {
    background-color: grey;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid black;
}

.custDifModal {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.custDifModal input {
    padding: 5px;
    margin: 5px;
    width: 90px;
}

body {
    background-color: white;
    color: black;
    transition: background 0.5s, color 0.3s;
}

.dark-mode {
    background-color: black;
    color: black;
}

#toggleTheme {
    position: absolute;
    top: 33px;
    left: 350px;
    z-index: 1000;
}

.dark-mode h1 {
    color: white;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
}